.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px;

  background-color: white;
  border-bottom: 1px solid hsl(0,0%,70%);

  h1, &-left, &-search, &-right {
    display: inline-block;
    vertical-align: middle;
  }

  &-right {
    float: right;
  }
}
