// for constant aspect ratio
.product-wrapper {
  @include span(3 of 12);
  position: relative;
}
.product-wrapper:after {
  padding-top: 150%;
  display: block;
  content: '';
}

.product {
  // for constant aspect ratio
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 20px;

  border: 1px solid hsla(0,0,0,0.2);
  img {
    width: 100%;
  }

  &-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &-price, &-saved {
    text-align: right;
  }

  &-price {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
  }
  &-saved {
    font-size: 12px;
  }
}